
<%= stylesheet_link_tag 'direct', :media => "all" %>
<%= stylesheet_link_tag 'post_details', :media => "all" %>
<%= stylesheet_link_tag 'reviews', :media => "all" %>


 
  <div class="container">
   
    <%= render 'shared/header_and_drawer' %>
    <h1 id="home-titel">Post Details</h1>
    
   
    <main>
      <div id="post"  >
        <div id="container">
          <div id="namephoto-container">
            <% if @post.user.image? %>
              <%= image_tag @post.user.image.thumb.url, class: "user-icon" ,id: "user-photo"%>
            <% else %>
              <%= image_tag 'undraw_male_avatar_323b.svg', alt: "user-icon", size: "200", class: "user-icon",id: "user-photo" %>
            <% end %>
            
            <h1 id="user-name"><%= link_to @post.user.name, @post.user%></h1>
          </div>
          <h2 id="term"><%= @post.term %></h2>
          <h2 ><%="カテゴリー : #{@post.m_category.name}" %></h2>
          <div id="timestamp">
            <%# Posted <%= time_ago_in_words(@post.created_at) ago.  %>
          </div>
        </div>
        <div id="paraphrase">
         
          <h3 id="paraphrase"><%= @post.paraphrase %></h3>
        </div>
        <div id="review-area">
          <div >
            <%= render 'reviews/form', review: @review,  post: @post %>
            <%= link_to "#{@reviews_count}件のレビュー", post_detail_reviews_path(@post.id)%>
          </div>
          <div id="like-btn" >
            <%= render 'shared/like', post: @post%>
            
          </div>
        </div>
      </div>
      <div>
      <h1 id="home-titel">Comments</h1>
        <% @comments.each do |c| %>
          <div class="chat-box">
            <div class="chat-face">
              <% if c.user.image? %>
               <%= image_tag c.user.image.thumb.url, class: "user-icon" ,id: "user-photo"%>
              <% else %>
               <%= image_tag 'undraw_male_avatar_323b.svg', alt: "user-icon", size: "200", class: "user-icon",id: "user-photo" %>
              <% end %>
              
              <h2 id="user-name"><%= c.user.name %></h2>
            </div>
            <div class="chat-hukidashi"> 
              <p><%= c.comment %></p> 
              
            </div>
            <div>
              <%= c.created_at.strftime("%Y-%m-%d %H:%M")%>
            </div>
          </div>
        <% end %>
      </div>
       
    </main>
    <%= form_with(model:  @comment, local: true, url: post_details_path) do |f| %>
        <%= f.text_field :comment, placeholder: "この投稿にコメントしてみよう" ,  class:"form-text-field" %>
        <%= f.hidden_field :post_id, value: @post.id %>
          
                                                         
            <%= f.submit "送信",class: 'form-submit'%>
    <% end %>
    <%= render 'shared/footer' %>
    
  </div>

 
      