  <div class="container">
    <%= render 'shared/header_and_drawer' %>
    <h1 id="titel">Home</h1>
    <main>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <% if @posts.any? %>
         <%= render 'shared/post' %>
      <% end %>
      <button onclick="location.href='../home_page/post'"  type="button" id="post_button">+</button>
    </main>
    <%= render 'shared/footer' %>
  </div>
 

 
      


    
   
    

            

        
          
           
