<%= stylesheet_link_tag 'home', :media => "all" %>
<%= stylesheet_link_tag 'show', :media => "all" %>
 
  <div class="container">
   
    <%= render 'shared/header' %>
    <h1 id="home-titel">Home</h1>
    <%= render 'shared/drawer_menu' %>
   
    <main>
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= render 'shared/feed' %>
      <button onclick="location.href='../home_page/post'"  type="button" id="login_button">+</button>
    </main>
    <%= render 'shared/footer' %>
    
  </div>

 
      


    
   
    

            

        
          
           
