
 
 <%= stylesheet_link_tag 'home', :media => "all" %>
 <%= stylesheet_link_tag 'post', :media => "all" %>
 

  <div class="container">
    <%= render 'shared/header' %>
    <div class="titel-container">
      <div></div>
      <h1 id="titel">投稿編集</h1>
      <h2 id="post-btn">投稿する</h2>
    </div>
    <%= render 'shared/drawer_menu' %>
    <main class="post-area">
    </main>
    <%= render 'shared/footer' %>
  </div>

