
 
 <%= stylesheet_link_tag 'home', :media => "all" %>
 <%= stylesheet_link_tag 'quiz', :media => "all" %>

  <div class="container">
    <%= render 'shared/header' %>
    <h1 id="titel">クイズに挑戦</h1>
    <%= render 'shared/drawer_menu' %>
    <main class="quiz-area">
      <%# likeした投稿データが入る %>
      
    </main>
    <div class="operation-container">
      <h1 id="operation-btn">回答を表示する</h1>
      <h1 id="operation-btn">前のクイズに戻る</h1>
      <h1 id="operation-btn">次のクイズへ進む</h1>
    </div>
    <%= render 'shared/footer' %>
  </div>

    
      


   
   
   
 


   