
 
 <%= stylesheet_link_tag 'home', :media => "all" %>
 <%= stylesheet_link_tag 'search', :media => "all" %>
  <div class="container">
    <%= render 'shared/header' %>
    <h1 id="titel">All Users</h1>
    <%= render 'shared/drawer_menu' %>
    <main class="users-area">
      <% @users.each do |user| %>
      
        <div class="users">
       
          <img id="user-photo" onclick="location.href='<%= user_path(user)%>'" src="../../assets/undraw_male_avatar_323b.svg"> 
          <div id="name-intoroduction">
            <h1><%= link_to user.name, user_path(user) %></h1>
            <h2>自己紹介</h2>
            <%= user.intoroduction %>
          </div>
        </div>
      <% end %>
    </main>
    <div class="operation-container">
      <h1 id="operation-btn" onclick="location.href='../home_page/search'">ユーザーを検索</h1>
      <h1 id="operation-btn" onclick="location.href='../search/post_search'">投稿を検索</h1>
    </div>
      
    <%= render 'shared/footer' %>
    
  </div>
