
 
 <%= stylesheet_link_tag 'home', :media => "all" %>
 <%= stylesheet_link_tag 'search', :media => "all" %>
  <div class="container">
    <%= render 'shared/header' %>
    <h1 id="titel">All Users</h1>
    <%= render 'shared/drawer_menu' %>
    <main class="users-area">
    <%= render 'shared/user-list' %>
    </main>
    <div class="operation-container">
      <h1 id="operation-btn" onclick="location.href='../home_page/search'">ユーザーを検索</h1>
      <h1 id="operation-btn" onclick="location.href='../search/post_search'">投稿を検索</h1>
    </div>
      
    <%= render 'shared/footer' %>
    
  </div>
      
