
 
 <%= stylesheet_link_tag 'home', :media => "all" %>
 <%= stylesheet_link_tag 'post_search', :media => "all" %>
 <%= stylesheet_link_tag 'show', :media => "all"  %> 
 

 
  <div class="container">
    <%= render 'shared/header' %>
    <h1 id="top-titel">All Posts</h1>
    <%= render 'shared/drawer_menu' %>
    <main class="posts-area">
     <% @feed_all.each do |post| %>
      <div id="post">
        <div id="left-container">
        <div id="namephoto-container">
          <img id="user-photo" src="../../assets/undraw_male_avatar_323b.svg"> 
          <h1 id="user-name"><%=link_to  post.user.name , post.user %></h1>
          
        </div>
        <span id="timestamp">
          Posted <%= time_ago_in_words(post.created_at) %> ago.
        </span>
        </div> 
        <div id="term-paraphrase">
        <h2 id="term"><%= post.term %></h2>
        <h3 id="paraphrase"><%= post.paraphrase %></h3>
        <div id="like-btn">
            <%= render 'shared/like', post: post%>
          </div>
        </div>
        
      </div>
    <% end %>
    </main>
    <div class="operation-container">
      <h1 id="operation-btn" onclick="location.href='../home_page/search'">ユーザーを検索</h1>
      <h1 id="operation-btn" onclick="location.href='../search/post_search'">投稿を検索</h1>
    </div>
      
    <%= render 'shared/footer' %>
   
  </div>
           
