
 

 <%= stylesheet_link_tag 'search', :media => "all" %>
  <div class="container">
    <%= render 'shared/header_and_drawer' %>
    <div id="titel-container">
      <div></div>
      <div></div>
      <div></div>
      <h1 >All Users</h1>
      <div></div>
      <%= form_with url: search_user_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    
    <main class="users-area">
    
    <%= render 'shared/user-list' %>
    </main>
    <div class="operation-container">
      <h1 id="operation-btn" onclick="location.href='../home_page/search'">User Search</h1>
      <h1 id="operation-btn" onclick="location.href='../search/post_search'">Post Search</h1>
    </div>
      
    <%= render 'shared/footer' %>
    
  </div>
      