
  
<%= stylesheet_link_tag 'home', :media => "all" %>
<%= stylesheet_link_tag 'edit', :media => "all" %>

   <div class="container">
    <%= render 'shared/header' %>
    <div class="titel-container">
      
      <h2 onclick="location.href='../../head_icon/profile'">←</h2>
      <h1 id="titel">Edit My Profile</h1>
      <h2></h2>
      
    </div>
    <%= render 'shared/drawer_menu' %>
   
    <main >
   
        <%= form_with(model: @user, local: true ,class: 'edit-area') do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          
          <%= f.label :intoroduction %>
          <%= f.text_field :intoroduction, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.submit "Save changes", class: "btn form-control" %>
          
        <% end %>
      
     
    </main>
    <%= render 'shared/footer' %>
  </div>

 
   