
 <%= stylesheet_link_tag 'home', :media => "all" %>
 <%= stylesheet_link_tag 'follows_list', :media => "all" %>
  <%= stylesheet_link_tag 'search', :media => "all" %>
  <div class="container">
    <%= render 'shared/header' %>
    <h1 id="titel">All Follows</h1>
    <%= render 'shared/drawer_menu' %>
    <main class="follows-area">
      <%= render 'shared/user-list' %>
    </main>
    <%= render 'shared/footer' %>
  </div>
 
