
 <%= stylesheet_link_tag 'home', :media => "all" %>
 <%= stylesheet_link_tag 'show', :media => "all" %>
 
 
  <div class="container">
    <%= render 'shared/header' %>
    <div class="titel-container">
      <h2 id="profile-btn"><%= link_to "プロフィール編集", edit_user_path(current_user) %></h2>
      <h1 id="titel">My Profile</h1>
      
      <select id="category">
        <option selected>カテゴリーで絞る</option>
        <option>英語</option>
        <option>数学</option>
        <option>国語</option>
        <option>理科</option>
        <option>社会</option>
        <option>その他</option>
      </select>
 
    </div>
    <%= render 'shared/drawer_menu' %>
   
    <main class="profile-area">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="col-md-8">
        <div class="users">
         <% if logged_in? %>
           <div id="left-container">
            <div id="namephoto-container">
              <img id="user-photo" src="../../assets/undraw_male_avatar_323b.svg"> 
              <h1 id="user-name"><%=@user.name %></h1>
            </div>

            <div id="follow-container">
              <h6 onclick="location.href='../head_icon/follows_list'"> xxx follow</h6>
              
              <h6 onclick="location.href='../head_icon/followers_list'"> yyy followers</h6>
            </div>
           </div>
           
          <div id="name-intoroduction">
            
            <h2>自己紹介</h2>
            <h3><%= @user.intoroduction %></h3>
            
          </div>
         <% else %>
          <img id="user-photo" src="../../assets/undraw_profile_pic_ic-5-t.svg"> 
          <div id="name-intoroduction">
            <h1>テストユーザー</h1>
            <h2>自己紹介</h2>
            <h3>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</h3>
          </div>
         <% end %>
        </div>
        <%= render 'shared/post'%>
      </div>
    </main>
    <%= render 'shared/footer' %>
  </div>
        
 
        
       
               



