
 <%= stylesheet_link_tag 'show', :media => "all" %>
  <div class="container">
    <%= render 'shared/header_and_drawer' %>
    <div id="titel-container">
      <h2 id="profile-btn"><%= link_to "Edit", edit_user_path(current_user) %></h2>
      <h1 >Profile</h1>
      <h2></h2>
    </div>
    <main class="profile-area">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="col-md-8">
        <div class="users">
          <% if logged_in? %>
            <div id="left-container">
              <div id="namephoto-container">
                <% if @user.image? %>
                  <%= image_tag @user.image.thumb.url, class: "user-icon" ,id: "user-photo"%>
                <% else %>
                  <%= image_tag 'undraw_male_avatar_323b.svg', alt: "user-icon", size: "200", class: "user-icon",id: "user-photo" %>
                <% end %>
                <h1 id="user-name"><%=@user.name %></h1>
              </div>
              <div id="follow-container">
                <%= render 'shared/stats' %>
              </div>
            </div>
            <div id="name-intoroduction">
              <h2>自己紹介</h2>
              <h3><%= @user.intoroduction %></h3>
            </div>
            <div class="form">
              <div>
                <%= render 'shared/follow_form' %>
              </div>
              <div >
                <% unless @user.id == current_user.id %>
                    <% if @isRoom == true %>
                      <div class="btn btn-primary btn-lg" onclick="location.href='/rooms/<%= @roomId %>'"> Message</div>
                    <% else %>
                      <%= form_with(model: @room, local: true) do |f| %>
                        <%= fields_for @entry do |e| %>
                          <%= e.hidden_field :user_id, value: @user.id %>
                        <% end %>
                        <%= f.submit "Message", class:"btn btn-primary btn-lg user-show-chat"%>
                      <% end %>
                    <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <% if @user.posts.any? %>
          <%= render 'shared/post'%>
        <% end %>
      </div>
    </main>
    <%= render 'shared/footer' %>
  </div>
        
    
   
 
        
       
               



