<% if @feed_items.any? %>
  <div class="posts">
    <% @feed_items.each do |post| %>
      <div id="post">
        <div id="left-container">
          <div id="namephoto-container">
            <img id="user-photo" src="../../assets/undraw_male_avatar_323b.svg"> 
            <h1 id="user-name"><%= link_to post.user.name, post.user%></h1>
          </div>
          <span id="timestamp">
            Posted <%= time_ago_in_words(post.created_at) %> ago.
          </span>
        </div>
        <div id="term-paraphrase">
          <h2 id="term"><%= post.term %></h2>
          <h3 id="paraphrase"><%= post.paraphrase %></h3>
        </div>
        <div id="like-btn">
          <%= render 'shared/like', post: post%>
          
        </div>
      </div>
    <% end %>
  </div>
 
<% end %>


