<%= stylesheet_link_tag 'posts', :media => "all" %>
<%= stylesheet_link_tag 'reviewers', :media => "all" %>
<%= stylesheet_link_tag 'show', :media => "all" %>
<div class="posts">
    <% @posts.each do |post| %>
      <div id="post">
        <div id="left-container">
          <div id="namephoto-container">
            <% if post.user.image? %>
                <%= image_tag post.user.image.thumb.url, class: "user-icon" ,id: "user-photo"%>
            <% else %>
                <%= image_tag 'undraw_male_avatar_323b.svg', alt: "user-icon", size: "200", class: "user-icon",id: "user-photo" %>
            <% end %>
            <h1 id="user-name"><%= link_to post.user.name, post.user%></h1>
          </div>
          
          <span id="timestamp">
             <%= time_ago_in_words(post.created_at) %> ago.
          </span>
        </div> 
        
        <div id="term-paraphrase" onclick="location.href='../post_details/<%=post.id%>'" >
          <h2 ><%=" #{post.m_category.name}" %></h2>
          <h2 id="term"><%= post.term %></h2>
          <h3 id="paraphrase"><%= post.paraphrase %></h3>
          <%= render 'shared/review', post: post%>
        </div>
        
        <div id="like-btn">
          <% if current_user?(post.user) %>
           <%= button_to "削除", post, { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } } } %>
          <% end %>
          <div></div>
          <div></div>
          <div></div>
          <%= render 'shared/like', post: post%>
        </div>
        
        
      </div>
    <% end %>
</div>
          
