<% @posts.each do |post| %>
  <li id="post-<%= post.id %>">
    
    <span class="user"><%= link_to post.user.name, post.user %></span>
    <span class="content"><%= post.term %></span>
    <span class="content"><%= post.paraphrase %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
      <% if current_user?(post.user) %>
      <%= link_to "投稿を削除", post, 
                                       data: { confirm: "投稿を本当に削除しますか?" } %>
      <% end %>
    </span>
  </li>
<% end %>