<%= stylesheet_link_tag 'home', :media => "all" %>
<%= stylesheet_link_tag 'app_detailed_description', :media => "all" %>
 
  <div class="container">
   
    <%= render 'shared/header' %>
    <h1 id="titel-container">App Description</h1>
    <%= render 'shared/drawer_menu' %>
   
    <main>
      
      <div id = "description-area">
      paradigm shift（パラダイムシフト）とは物の見方や考え方が劇的に変化することを指します。本アプリはアクティブラーニングで重要な要素である再言語化と想起を元にした学習を支援する SNSサービスになります。アクティブラーニングとは名前が示すとおり、積極的（アクティブ）に学習（ラーニング）に取 り組んでいく手法のことです。授業を聞きながらノートを取るような受け身の姿勢ではなく、進んで頭を使いながら学ぶ、これがアクティブラーニングの定義です。この学習法は科学的に効果が高いと認められている学習法になります。1つ目の「再言語化」は、簡単に言い換えると「自分の言葉に置き換えること」となります。たとえば、英語の「on」という前置詞の使い方を考えてみましょう。ここでもっとも良くないのは、「onは…の上に、…に、…に面して」など、辞書的な用法をそのまま覚えるパターンです。これではまったく応用が利かず、「on your honor」などのフレーズを目にした場合に、「なんで『名誉』にonを使うんだろう……」といった疑問が生まれてしまいます。しかし、ここで「onとは、具体的な物だけに限らずに、とにかく何かに接触していることだ」などと、自分の言葉で表現してみたらどうでしょうか？もちろん、これでも「on」を完璧に使いこなすのは難しいでしょうが、少なくとも例文の丸暗記よりは理解しやすくなったはずです。要するに「再言語化」とは、何かを理解するときに大事なポイントです。難しい数学の概念や完了形の意味のように、簡単に意味をつかめない情報を処理したいときには「再言語化」が欠かせません。2つ目の「想起」は、簡単に言えば「思い出すこと」です。人間の脳がもっとも活性化し、頭に情報を刻み込むのに最適な時期は、思い出す作業をした直後になります。つまり記憶として定着させるには思い出すのが最も効率的ということになります。このアプリでは、自分の学んでいる分野の用語を再言語化したものを投稿することで自分自身の理解を深めたり他人の再言語化の投稿を見ることによって新たな視点を発見しそれをクイズで想起する仕組みを作ることで記憶として定着させてparadigm shiftを起こすことを目的にしています。
      </div>
      
    </main>
    <%= render 'shared/footer' %>
    
  </div>

