
 
 <%= stylesheet_link_tag 'home', :media => "all" %>
 <%= stylesheet_link_tag 'quiz_list', :media => "all" %>
 <%= stylesheet_link_tag 'show', :media => "all" %>
 <%= stylesheet_link_tag 'reviewers', :media => "all" %>

 
  <div class="container">
    <%= render 'shared/header' %>
    
    <div id="titel-container">
      
    
      
      <h1 >Quiz List</h1>
     
      
    </div>
    <%= render 'shared/drawer_menu' %>
    <main class="quiz-area">
     <div class="posts">
      <% @posts.each do |post| %>
        
          <div id="post">
            <div id="left-container">
              <div id="namephoto-container">
                <% if post.user.image? %>
                  <%= image_tag post.user.image.thumb.url, class: "user-icon ",id: "user-photo" %>
                <% else %>
                  <%= image_tag 'undraw_male_avatar_323b.svg', alt: "user-icon", size: "200", class: "user-icon" %>
                <% end %>
                <h1 id="user-name"><%=  post.user.name %></h1>
              </div>
              <span id="timestamp">
                Posted <%= time_ago_in_words(post.created_at) %> ago.
              </span>
            </div> 
            <div id="term-paraphrase">
              <h2 ><%="カテゴリー : #{post.m_category.name}" %></h2>
              <h2 id="term"><%= post.term %></h2>
              <h3 id="paraphrase"><%= post.paraphrase %></h3>
              <%= render 'shared/review', post: post%>
            </div>
            <div id="like-btn">
              <%= render 'shared/like', post: post%>
            </div>
          </div>
        
      <% end %>
     </div>
    </main>
    <%= render 'shared/footer' %>
  </div>
          
