
 
 <%= stylesheet_link_tag 'home', :media => "all" %>
 <%= stylesheet_link_tag 'quiz_list', :media => "all" %>
 <%= stylesheet_link_tag 'show', :media => "all" %>

 
  <div class="container">
    <%= render 'shared/header' %>
    
    <div class="titel-container">
      <h2 id="order-btn">出題順番入れ替え</h2> 
    
      
      <h1 id="titel">Quiz List</h1>
     
      <select id="category">
        <option selected>Category</option>
        <option>英語</option>
        <option>数学</option>
        <option>国語</option>
        <option>理科</option>
        <option>社会</option>
        <option>その他</option>
      </select>
 
    </div>
    <%= render 'shared/drawer_menu' %>
    <main class="quiz-area">
     <div class="posts">
      <% @posts.each do |post| %>
        
          <div id="post">
            <div id="left-container">
              <div id="namephoto-container">
                <img id="user-photo" src="../../assets/undraw_male_avatar_323b.svg"> 
                <h1 id="user-name"><%=  post.user.name %></h1>
              </div>
              <span id="timestamp">
                Posted <%= time_ago_in_words(post.created_at) %> ago.
              </span>
            </div> 
            <div id="term-paraphrase">
              <h2 id="term"><%= post.term %></h2>
              <h3 id="paraphrase"><%= post.paraphrase %></h3>
            </div>
            <div id="like-btn">
              <%= render 'shared/like', post: post%>
            </div>
          </div>
        
      <% end %>
     </div>
    </main>
    <%= render 'shared/footer' %>
  </div>
          
