
<%= stylesheet_link_tag 'reviewers_list', :media => "all" %>
  <div class="container">
    <%= render 'shared/header_and_drawer' %>
    <h1 id="titel">Reviewers</h1>
    <main>
      <% @reviews.each do |review| %>
        <div id="reviewers-list">
          <% if review.user.image? %>
            <%= image_tag review.user.image.thumb.url, class: "user-icon" ,id: "user-photo"%>
          <% else %>
            <%= image_tag 'undraw_male_avatar_323b.svg', alt: "user-icon", size: "200", class: "user-icon",id: "user-photo" %>
          <% end %>
            <h1 id="user-name"><%= review.user.name %></h1>
            <h1 >score:<%= review.score %></h1>
        </div>
      <% end %>
    </main>
    <%= render 'shared/footer' %>
  </div>

 
      


    