 <%= stylesheet_link_tag 'quiz', :media => "all" %>
 <%= stylesheet_link_tag 'operation', :media => "all" %>
  <div class="container">
    <%= render 'shared/header_and_drawer' %>
    <h1 id="titel">Quiz Challenge</h1>
    
    <main class="quiz-area">
       <div id = "question">
          <div id = "contributor">
            
            
            <div id = "name"></div>
          </div>
          <div id = "term"></div>
          <div></div>
          <div></div>
       </div>
       <div id = "paraphrase">
          <div id = "para">
            
          </div>
       </div>
    </main>
    <div class="operation-container">
      <h1 id="answer-btn" class="operation-btn">Check the answer</h1>
      <h1 id="hide-btn" class="operation-btn">Hide the answer</h1>
      <h1 id="next-btn" class="operation-btn" onclick="location.href='../../home_page/quiz'">Next quiz</h1>
    </div>
    <%= render 'shared/footer' %>
  </div>
  <script>
  let words = [
        <% @posts.each do |post| %>
          {'term': '<%=post.term%>' ,
          'para': '<%=post.paraphrase%>',
          'Hide the answer': '上の用語はどんな意味の言葉であったか思い出してみましょう',
          'name':'投稿者:<%=User.find_by(id: post.user_id).name%>'},
        <% end %>
      ];
  </script>
  <%= javascript_include_tag 'quiz.js' %>             
 

  
 
 




 
            
         


      
      
     


   


    

      
     
      


   
   
   
 


   